config.txt
*.class
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/any.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/api.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/descriptor.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/duration.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/empty.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/field_mask.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/source_context.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/struct.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/timestamp.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/type.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/wrappers.proto
target/protoc-dependencies/71fe89ed549d3a3f22a80e5e8e616367/google/protobuf/compiler/plugin.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/annotations.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/auth.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/backend.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/billing.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/config_change.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/consumer.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/context.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/control.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/distribution.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/documentation.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/endpoint.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/http.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/httpbody.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/label.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/log.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/logging.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/metric.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/monitored_resource.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/monitoring.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/quota.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/service.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/source_info.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/system_parameter.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/usage.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/experimental/authorization_config.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/api/experimental/experimental.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/cloud/audit/audit_log.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/logging/type/http_request.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/logging/type/log_severity.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/longrunning/operations.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/rpc/code.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/rpc/error_details.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/rpc/status.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/color.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/date.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/dayofweek.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/latlng.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/money.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/postal_address.proto
target/protoc-dependencies/e9fc4fdc3f491cb8c3df91ace5580004/google/type/timeofday.proto
target/protoc-plugins/protoc-3.7.1-linux-x86_64.exe
target/protoc-plugins/protoc-gen-grpc-java-1.21.0-linux-x86_64.exe
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/org.elasticsearch.index.analysis.TestBaikalAnalyzer.txt
target/surefire-reports/TEST-org.elasticsearch.index.analysis.TestBaikalAnalyzer.xml
es_nlp_plugin.iml
http_ca.crt
target/generated-sources/protobuf/grpc-java/baikal/ai/LanguageServiceGrpc.java
target/generated-sources/protobuf/java/baikal/ai/AnalyzeSyntaxRequest.java
target/generated-sources/protobuf/java/baikal/ai/AnalyzeSyntaxRequestOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/AnalyzeSyntaxResponse.java
target/generated-sources/protobuf/java/baikal/ai/AnalyzeSyntaxResponseOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/Document.java
target/generated-sources/protobuf/java/baikal/ai/DocumentOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/EncodingType.java
target/generated-sources/protobuf/java/baikal/ai/LanguageServiceProto.java
target/generated-sources/protobuf/java/baikal/ai/Morpheme.java
target/generated-sources/protobuf/java/baikal/ai/MorphemeOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/Sentence.java
target/generated-sources/protobuf/java/baikal/ai/SentenceOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/TextSpan.java
target/generated-sources/protobuf/java/baikal/ai/TextSpanOrBuilder.java
target/generated-sources/protobuf/java/baikal/ai/Token.java
target/generated-sources/protobuf/java/baikal/ai/TokenOrBuilder.java
